@app.route("/add", methods=["GET", "POST"])
def add_product():

    if "user" not in session:
        return redirect("/login")

    if request.method == "POST":

        name = request.form.get("name")
        price = request.form.get("price")

        if "image" not in request.files:
            return "Image not uploaded"

        image = request.files.get("image")

        if image.filename == "":
            return "No image selected"

        seller = session["user"]

        image_path = os.path.join(UPLOAD_FOLDER, image.filename)
        image.save(image_path)

        conn = sqlite3.connect("database.db")
        cursor = conn.cursor()

        cursor.execute(
            "INSERT INTO products(name,price,image,seller) VALUES(?,?,?,?)",
            (name, price, image.filename, seller)
        )

        conn.commit()
        conn.close()

        return redirect("/")

    return render_template("add_product.html")